# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
_site/
dist/
styles.css

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
